<h1 class="display-4"><%= @question.test.title %> Question</h1>

<h2><%= @question.body %></h2>




<table class="table table-striped table-dark table-bordered">
  <%= link_to 'New Answer', new_admin_question_answer_path(@question), class: 'btn btn-success' %>
  <h2 class="text-center">Answers</h2>
  <thead>
    <tr class="text-center">
      <th>Answer</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <%= render @question.answers %>
</table>


<%= link_to 'Edit', edit_admin_question_path(@question), class: 'btn btn-dark' %>
<%= link_to 'Back', admin_test_path(@question.test), class: 'btn btn-dark' %>
