<h1 class="display-4"><%= @question.test.title %> Question</h1>

<h2><%= @question.body %></h2>

<p><%= link_to 'New Answer', new_admin_question_answer_path(@question), class: 'btn btn-success' %></p>
<table class="table table-striped  table-bordered">
  <thead>
    <tr class="text-center">
      <th>Answer</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <%= render @question.answers %>
</table>


<%= link_to 'Back', admin_test_path(@question.test), class: 'btn btn-dark' %>
