<tr>
  <td>
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td align="center"><%= test.level %></td>
  <td><%= test.category.title%></td>
  <td align="center"><%= test.questions.size%></td>
  <td align="center"><%= fixed_or_unlimited(test) %></td>
  <td align="center"><%= test.ready %></td>
  <td align="center"><%= link_to t('action.show'), admin_test_path(test), class: 'btn btn-dark'%></td>
  <td align="center">
    <%= link_to t('action.edit'), edit_admin_test_path(test),
                data: { test_id: test.id },
                class: "btn btn-dark form-inline-link" %>
  </td>
  <td align="center"><%= button_to t('action.delete'),
                  admin_test_path(test),
                  method: :delete,
                  class: 'btn btn-dark'%></td>
</tr>
