<tr>
  <td><%= test.title %></td>
  <td align="center"><%= test.level %></td>
  <td><%= test.category.title%></td>
  <td align="center"><%= test.questions.size%></td>
  <td><%= link_to t('action.show'), admin_test_path(test) %></td>
  <td><%= link_to t('action.edit'), edit_admin_test_path(test) %></td>
  <td><%= button_to t('action.delete'),
                  admin_test_path(test),
                  method: :delete%></td>
</tr>
