<h1 class="display-4"><%= @test.category.title %> Test</h1>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<h2>Questions</h2>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>

<ol>
  <li><%= render @test.questions %></li>
</ol>

<%= link_to t('action.edit'), edit_admin_test_path(@test), class: 'btn btn-light'%>
<%= link_to t('action.back'), admin_tests_path, class: 'btn btn-dark' %>
