<h1 class="display-4"><%= @test.category.title %> Test</h1>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Timer:</strong>
  <%= fixed_or_unlimited(@test)  %>
</p>

<p>
  <strong>Ready:</strong>
  <%= @test.ready %>
</p>

<p><%= link_to t('.new_question'), new_admin_test_question_path(@test), class: 'btn btn-success' %></p>
<table class="table table-striped  table-bordered">
  <thead>
    <tr class="text-center">
      <th>Question</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
<%= render @test.questions %>
</table>

<td><%= link_to 'Edit', edit_admin_test_path(@test), class: 'btn btn-dark'%></td>
<%= link_to t('action.back'), admin_tests_path, class: 'btn btn-dark' %>
